{% extends skin_template_path('normal_gadget.html.twig') %}

{% block caption %}{{ gadget.caption }} - {{ forum.title }}{% endblock %}
{% block content %}
<div class="entry">
<div class="author">
<a href="{{ path('profile', {'member': forum.author}) }}"><img src="{{ path('show_resized_member_image', {'member': forum.author, 'width': 50, 'height': 50}) }}" class="icon"></a>
</div>
<div class="body">
<div class="name">
<a href="{{ path('profile', {'member': forum.author}) }}">{{ forum.author.username }}</a></div>
{{ forum.body | nl2br }}
<div class="post_date">{{ forum.createdAt | date('Y/m/d H:i:s') }}</div>
</div>
</div>
{% endblock %}
